asgiref
attrs
beautifulsoup4
certifi
charset-normalizer
chromedriver-binary-auto
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
h11
idna
linkpreview
outcome
PyJWT
pyshorteners
PySocks
requests
selenium
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
typing_extensions
urllib3
websocket-client
wsproto
